.app, html {
  height: 100%;
}
.nav {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color:burlywood;
  justify-content: space-between;
}

.footer {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color:burlywood;
  height: 5vh;
}
.allCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 0rem 4rem 5rem;
  width: 90vw;
}
.oneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 25rem 5rem 25rem;
  margin: 5rem 15rem 17rem 15rem;
}
  .card {
    flex-grow: 1;
    text-align: center;
    margin: 10px;
    padding: 2rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
  }