.app, html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color:burlywood;
  justify-content:space-between;
  align-items:center;
}
.header {
  margin-right: 50rem;
}


.footer {
  padding: 12px;
  bottom: 0;
  position: sticky;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:burlywood;
  height: 5vh;
}
.allCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem 0rem 4rem 5rem;
  width: 90vw;
  min-height: 100vh;
}
.oneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 25rem 5rem 25rem;
  margin: 5rem 15rem 17rem 15rem;
} 
/* //need media query for this oneCard  */
  .card {
    flex-grow: 1;
    text-align: center;
    margin: 10px;
    padding: 2rem; 
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px ;
  }

  .addPupper {
    text-align: center;
    min-height: 85vh;
    margin: 1rem;
    padding: 1rem;
  }