.app, html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color:burlywood;
}

.nav-items {
  list-style: none;
  display: flex;
}
.item {
  padding: 12px;
}
.button {
  padding: 5px;
  font-weight: bold;
}

.footer {
  padding: 12px;
  bottom: 0;
  position: sticky;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:burlywood;
}
.allCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 1rem;
}
.oneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 86.75vh;
} 

.card {
  flex-grow: 1;
  text-align: center;
  margin: 10px;
  padding: 2rem; 
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px ;
}
.single-card {
  text-align: center;
  margin: 10px;
  padding: 2rem; 
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px ;
}

  .addPupper {
    text-align: center;
    min-height: 80.5vh;
    margin: 2rem;
    padding: 1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }